<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="9fb99018-714c-4bb4-8e8e-6ccffb4cc2c8"
            Publisher="CN=Jonathon"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Jcl.Navigate.Presentation.Metro</DisplayName>
    <PublisherDisplayName>Jonathon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Jcl.Navigate.Presentation.Metro</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Jcl.Navigate.Presentation.Metro.App">
        <VisualElements
            DisplayName="Jcl.Navigate.Presentation.Metro"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Jcl.Navigate.Presentation.Metro"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>